.agency-alt-contact-info#contact_info
  .container
    .row
      .col-md-4
        h4(style='color: #518dc3;')
          i.ion-ios-email-outline
          | #{i18n.contact_info.email}
        p
          | contacto@r3d.cl
      .col-md-4
        h4(style='color: #4fc4c5;')
          i.ion-ios-telephone-outline
          | #{i18n.contact_info.phone}
        p
          | +56 2 3232 7509
      .col-md-4
        h4(style='color: #a34dd6;')
          i.ion-social-whatsapp-outline
          | WhatsApp
        p
          | +56 9 3119 9633
