.agency-alt-map#contact_map
  .container
    .location.hidden-sm-down
      h5 R3D
      p 
        | Avenida Italia 850, Providencia
        br 
        | Santiago - Chile
  #map
script(src='../js/maps.js')
