.index
  section#clientes.index-clients
    .container
      header
        h4 #{i18n.clients.title}
      .row.justify-content-center
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/exefire.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/huaso_tour.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/easy_taxi.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/universidad_chile.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/logo_distonia.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/solcor.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/thinkey.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/upup_logo.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/spectro_logo.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/av_contabilidad.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/moovshake.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/woodtech.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/dentalspachile.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/contenedores.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/triciclos.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/antyl.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/agroandina.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/wiseconn.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/notcompany.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/ubiome.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/wizz.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/tybmarketing.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/bavaria.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/sit.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/pacal.png')

        
