doctype html
html
    head
        include components/head
    body
        include components/language-selection
        h1 #{i18n.body.title}
        nav
            a.tab(href="#home" onclick="show(this, 'home')") home
            a.tab(href="#about" onclick="show(this, 'about')") about
        section#home.content
            include components/home
        section#about.content
            include components/about
        include components/scripts
