doctype html
html
    head
        title #{i18n.head.title}
        link(rel="stylesheet" href="styles.css")
    body
        ul#i18n
            each lang in languages
                li: a(href=`${lang}.html`) #{lang}
        h1 #{i18n.body.title}
        nav
            a.tab(href="#home" onclick="show(this, 'home')") home
            a.tab(href="#about" onclick="show(this, 'about')") about
        section#home.content
            include sections/home
        section#about.content
            include sections/about
        include sections/scripts
