@import 'index/index'; 
@import 'design/design'; 
@import 'contact/contact'; 
@import 'contact/contact';
@import 'printing/printing';

ul#i18n {
  float: right;
  list-style-type: none;
  li {
    display: inline;
    margin: 0.5em;
  }
}

nav.navbar{
  .container{
    a.navbar-brand{
      .logo_r3d{
        img{
        width:auto !important;
        height:50px
        }
      }
    }
  }
}
