ul#i18n {
  float: right;
  list-style-type: none;
  li {
    display: inline;
    margin: 0.5em;
  }
}

header.business-hero {
  background: url(images/creator-pro-workshop.jpg);
  .container {
    h2.customFadeInUp {
      text-transform: uppercase;
    }
  }
}
