.agency-about-intro
  .container
    p #{i18n.printing_intro.text1}
    p
      | #{i18n.printing_intro.text2}
      a(href='contact.html#contact_info') #{i18n.printing_intro.link}
      | #{i18n.printing_intro.text3}
