.printing{
  .agency-about-hero{
    background: url(../images/printed_parts.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .spacial-features{
    section.container{
      .feature{
        img{
          height: 150px;
        }
      }
    }
  }
  .limitations{
    .index-features{
      section.features{
        img.icon{
          height: 50px;
        }
      } 
    }
  }
  .tutorial{
    .index-features{
      section.features{
        img.icon{
          height: 50px;
        }
      }     
    }
  }
}