.contact{
  .agency-alt-hero{
      background: url(../images/makerspace.jpg);
      background-size: cover;
      background-repeat: no-repeat;
  }
  .agency-alt-map{
    .container{
      .location{
        box-sizing: content-box;
      }
    }
  }
}
