.agency-alt-map#mapa
  .container
    .location.hidden-sm-down
      h5 R3D
      p 
        | #{i18n.footer.address_line1}
        br 
        | #{i18n.footer.address_line2}
  #map
script(src='../js/maps.js')
