.index
  section#clients.index-clients
    .container
      header
        h4 #{i18n.clients.title}
      .row.justify-content-center
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/exefire.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/huaso_tour.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/easy_taxi.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/universidad_chile.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/logo_distonia.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/solcor.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/thinkey.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/upup_logo.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/spectro_logo.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/av_contabilidad.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logos/moovshake.png')

        
