.index
  section#clients.index-clients
    .container
      header
        h4 #{i18n.clients.title}
      .row.justify-content-center
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/easy_taxi.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/exefire.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/huaso_tour.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/logo_distonia.jpg')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/solcor.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/thinkey.png')
        .col-4.col-md-3.col-lg-2
          img.img-fluid.mb-4(src='../images/universidad_chile.png')
