.index
  header.business-hero
    .container
      h2.customFadeInUp
        | #{i18n.header.title}
      p.customFadeInUp
        | #{i18n.header.subtitle}
      .actions.customFadeInUp
        a.btn-pill.btn-pill-primary.btn-pill-lg(href='contact.html')
          | #{i18n.header.action}
