.index{
  header.business-hero {
    background: url(../images/creator-pro-workshop.jpg);
    .container {
      h2.customFadeInUp {
        text-transform: uppercase;
      }
    }
  }

  header.contact {
    color: white;
    background-color: black;
    padding: 8em;
  }

  #services {
    text-align: center;
    .feature{
      img{
        height: 300px;
      }
      button
      a{
        color:white;
      }
    }
  }

  #reviews {
    background: url(../images/projects/entel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    #reviews-carousel{
      height: 300px;
      padding-top:20px;
    }
  }
}



