.index
  section#reviews.business-single-client(data-scroll='')
    #reviews-carousel.quote-wrapper.carousel.slide(data-ride="carousel")
      .carousel-inner(role="listbox")
        for review in reviews
          .carousel-item.active
            p #{i18n.reviews.review.text}
            .author #{i18n.reviews.review.author}
          
          
        a.carousel-control-prev(href='#reviews-carousel', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only #{i18n.reviews.previous}
        a.carousel-control-next(href='#reviews-carousel', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only #{i18n.reviews.next}
