section#reviews.business-single-client(data-scroll='')
  .quote-wrapper
    img.logo(src='../images/example.png')
    p
      | "Focus on creating and growing your projects and websites, and we‘ll take care of spinning up new designs for your users and making sure they’re great. Work with all types of customers right out of the box while still getting great results in your environment."
    .author
      | John Smith, Product Designer
