section#reviews.business-single-client(data-scroll='')
  #carouselExampleIndicators.quote-wrapper.carousel.slide(data-ride="carousel")
    ol.carousel-indicators
      li(data-target="#carouselExampleIndicators" data-slide-to="0").active
      li(data-target="#carouselExampleIndicators" data-slide-to="1")
      li(data-target="#carouselExampleIndicators" data-slide-to="2")
    .carousel-inner(role="listbox")
      .carousel-item.active
        img.logo.d-block.img-fluid(src='../images/customer/customer-1.jpg' alt="Second slide")
        p
          | Best company and service ever
        .author
          | Mia Snow, Product Designer
      .carousel-item
        img.logo.d-block.img-fluid(src='../images/customer/customer-2.jpg' alt="Second slide")
        p
          | Great company and service
        .author
          | Jane Doe, Product Manager
      .carousel-item
        img.logo.d-block.img-fluid(src='../images/customer/customer-3.jpg' alt="Second slide")
        p
          | I love the company
        .author
          | John Smith, CEO
      a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
