.spacial-features(data-scroll='')
  section.container
    .row
      .col-12
        .header
          h2 Our services
    .row
      .col-md-4
        .feature
          img(src='../images/example.png')
          h3
            | 3D Printing
      .col-md-4
        .feature
          img(src='../images/example.png')
          h3
            | 3D Design
      .col-md-4
        .feature
          img(src='../images/example.png')
          h3
            | Shop
