.spacial-features(data-scroll='')
  section#services.container
    .row
      .col-12
        .header
          h2 #{i18n.services.title}
    .row
      .col-md-4
        .feature
          img(src='../images/example.png')
          h3
            | #{i18n.section.printing_3d}
      .col-md-4
        .feature
          img(src='../images/example.png')
          h3
            | #{i18n.section.design_3d}
      .col-md-4
        .feature
          img(src='../images/example.png')
          h3
            | #{i18n.section.shop}
