.design{
  .agency-about-hero{
    background: url(../images/design.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .spacial-features{
    .feature{
      img{
        height: 150px;
      }
    }
  }
}