.spacial-features(data-scroll='')
  section.container
    .row
      .col-12
        .header
          h2 #{i18n.design_how.title}
    .row
      .col-md-4
        .feature
          img(src='images/icons/spacial-devices.png')
          h3
            | Have conversations with your friends
          p
            | Spacial is the perfect solution for web developers and designers. You can get an awesome website for your best projects and clients, and also get great support.
      .col-md-4
        .feature
          img(src='images/icons/spacial-download.png')
          h3
            | Keep your information private & secure
          p
            | Spacial is designed to make showing off your best projects extremely fast and simple. There are many ways to configure. Just go to the source, make changes.
      .col-md-4
        .feature
          img(src='images/icons/spacial-location.png')
          h3
            | Explore new possibilities every day
            span.badge-new New
          p
            | Spacial has both a web app and an android app to make your website easy and always available. It offers you all the designs in collaboration with smart people.