.agency-portfolio-hero
  section.container
    h1 #{i18n.projects.title}
    
.blog-cols-wrapper
  .container
    a.post(href='blog-post.html')
      .post-wrapper
        .post-bg(style="background-image: url('images/unsplash/photo-1466854076813-4aa9ac0fc347.jpg');")
        .post-intro
          .post-title project 1
          p.post-description
            | Spacial has both a web app and an android app to make your website easy and always available.
    a.post(href='blog-post.html')
      .post-wrapper
        .post-bg(style="background-image: url('images/unsplash/photo-1467659226669-a1360d97be2d.jpg');")
        .post-intro
          .post-title project 2
          p.post-description
            | Spacial has both a web app and an android app to make your website easy and always available.
    a.post(href='blog-post.html')
      .post-wrapper
        .post-bg(style="background-image: url('images/unsplash/photo-1475483768296-6163e08872a1.jpg');")
        .post-intro
          .post-title project 3
          p.post-description
            | Spacial has both a web app and an android app to make your website easy and always available.
