.projects
  .project_header
  .agency-portfolio-hero
    section.container
      h1 #{i18n.projects.title}

  .blog-cols-wrapper
    .container
      a.post(href='blog-post.html')
        .post-wrapper
          .post-bg(style="background-image: url('../images/ragnar.jpg');")
          .post-intro
            .post-title project 1
            p.post-description
              | Spacial has both a web app and an android app to make your website easy and always available.
      a.post(href='blog-post.html')
        .post-wrapper
          .post-bg(style="background-image: url('../images/arma.jpg');")
          .post-intro
            .post-title project 2
            p.post-description
              | Spacial has both a web app and an android app to make your website easy and always available.
      a.post(href='blog-post.html')
        .post-wrapper
          .post-bg(style="background-image: url('../images/pendrive.jpg');")
          .post-intro
            .post-title project 3
            p.post-description
              | Spacial has both a web app and an android app to make your website easy and always available.
