header.business-hero
    .container
        h2.customFadeInUp
            | Take control of your business, integrate, automate and launch quickly.
        p.customFadeInUp
            | Millions of people use this theme. Each of them use it differently.
            br
            |         So we created fifteen incredible new designs, some in collaboration with a few of the world's most influential and carismatic people ever known.
        .actions.customFadeInUp
            a.btn-pill.btn-pill-primary.btn-pill-lg(href='#') Sign Up Free
