header.business-hero
    .container
        h2.customFadeInUp
            | 3D Printing Santiago
        p.customFadeInUp
            | Print all your stuff in 3D
        .actions.customFadeInUp
            a.btn-pill.btn-pill-primary.btn-pill-lg(href='#') Quote your project here
