nav.navbar.navbar-expand-lg.navbar-dark.bg-transparent(role='navigation')
    .container.no-override
        a.navbar-brand(href='index.html')
            img.d-none.d-lg-inline.mr-2.w-25(src='images/logo-alt-w.png')
            |         Spacial
        button.navbar-toggler(data-toggle='collapse', data-target='#navbar-collapse')
            span.navbar-toggler-icon
        #navbar-collapse.collapse.navbar-collapse.justify-content-end
            ul.navbar-nav
                li.nav-item.active.dropdown
                    a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
                        | Home pages
                        i.ion-chevron-down
                    .dropdown-menu(role='menu')
                        a.dropdown-item(href='index.html') Business
                        a.dropdown-item(href='index-app.html') Web app
                        a.dropdown-item(href='index-features.html') Features showcase
                        a.dropdown-item(href='agency.html') Creative agency
                        a.dropdown-item(href='index-mobile.html') App showcase
                        a.dropdown-item(href='index-mobile-2.html') App showcase 2
                        a.dropdown-item(href='index-mobile-3.html') App showcase 3
                        a.dropdown-item(href='index-mobile-4.html') App showcase 4
                        a.dropdown-item(href='index-slider.html') Hero Slider
                        a.dropdown-item(href='index-photography.html') Photography
                        a.dropdown-item(href='index-dark.html') Dark background
                        a.dropdown-item(href='index-restaurant.html') Restaurant
                        a.dropdown-item(href='index-event.html') Event
                        a.dropdown-item(href='index-video.html') Video background
                        a.dropdown-item(href='intro.html') Intro
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
                        | Blogs
                        i.ion-chevron-down
                    .dropdown-menu(role='menu')
                        a.dropdown-item(href='blog.html') Blog list
                        a.dropdown-item(href='blog-3-cols.html') Blog columns
                        a.dropdown-item(href='blog-grid.html') Blog grid
                        a.dropdown-item(href='blog-sidebar.html') Blog sidebar
                        a.dropdown-item(href='blog-masonry.html') Blog masonry
                        a.dropdown-item(href='blog-timeline.html') Blog timeline
                        a.dropdown-item(href='blog-post.html') Single blog post
                        a.dropdown-item(href='blog-post-alt.html') Single blog post 2
                        a.dropdown-item(href='blog-post-3.html') Single blog post 3
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
                        | Pages
                        i.ion-chevron-down
                    .dropdown-menu(role='menu')
                        .dropdown.dropdown-submenu
                            a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown')
                                | About us
                                i.ion-chevron-right
                            .dropdown-menu
                                a.dropdown-item(href='agency-about.html') About us 1
                                a.dropdown-item(href='agency-about-2.html') About us 2
                        .dropdown.dropdown-submenu
                            a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown')
                                | Portfolio
                                i.ion-chevron-right
                            .dropdown-menu
                                a.dropdown-item(href='agency-portfolio-2.html') 2 columns
                                a.dropdown-item(href='agency-portfolio-3.html') 3 columns
                                a.dropdown-item(href='agency-portfolio-4.html') 4 columns
                        .dropdown.dropdown-submenu
                            a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown')
                                | Contact
                                i.ion-chevron-right
                            .dropdown-menu
                                a.dropdown-item(href='agency-contact.html') Contact us 1
                                a.dropdown-item(href='agency-contact-2.html') Contact us 2
                                a.dropdown-item(href='agency-start-project.html') Contact us project
                        a.dropdown-item(href='agency-project.html') Project showcase
                        a.dropdown-item(href='pricing.html') Pricing
                        a.dropdown-item(href='pricing-charts.html') Pricing charts
                        a.dropdown-item(href='careers.html') Careers
                        a.dropdown-item(href='career-post.html') Careers job post
                        a.dropdown-item(href='support.html') Support
                        a.dropdown-item(href='support-topic.html') Support topic
                        a.dropdown-item(href='customers.html') Customer stories
                        a.dropdown-item(href='customer-story.html') Single customer story
                        .dropdown-divider
                        a.dropdown-item(href='sign-up.html') Sign up
                        a.dropdown-item(href='sign-in.html') Sign in
                        a.dropdown-item(href='recover-password.html') Recover password
                        a.dropdown-item(href='timeline.html') Timeline
                        a.dropdown-item(href='coming-soon.html') Coming soon
                        a.dropdown-item(href='api-docs.html') API docs
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
                        | Features
                        i.ion-chevron-down
                    .dropdown-menu(role='menu')
                        .dropdown.dropdown-submenu
                            a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown')
                                | Headers
                                i.ion-chevron-right
                            .dropdown-menu
                                a.dropdown-item(href='header-light.html') Light
                                a.dropdown-item(href='header-dark.html') Dark
                                a.dropdown-item(href='header-transparent-light.html') Transparent light
                                a.dropdown-item(href='header-transparent-dark.html') Transparent dark
                                a.dropdown-item(href='header-transparent-fixed-light.html') Transparent fixed light
                                a.dropdown-item(href='header-transparent-fixed-dark.html') Transparent fixed dark
                                a.dropdown-item(href='header-off-canvas-left.html') Sidebar left
                                a.dropdown-item(href='header-off-canvas-right.html') Sidebar right
                                a.dropdown-item(href='header-navleft.html') Navbar left
                                a.dropdown-item(href='header-dark-submenu.html') Dark submenu
                                a.dropdown-item(href='header-fixed-bottom.html') Bottom fixed
                                a.dropdown-item(href='header-logo-center.html') Logo center
                                a.dropdown-item(href='header-all-center.html') All center
                                a.dropdown-item(href='header-full-width.html') Full width
                        .dropdown.dropdown-submenu
                            a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown')
                                | Footers
                                i.ion-chevron-right
                            .dropdown-menu
                                a.dropdown-item(href='header-light.html#footer') Dark
                                a.dropdown-item(href='footer-light.html#footer') Light
                                a.dropdown-item(href='footer-big-menu.html#footer') Big Menu
                                a.dropdown-item(href='footer-sign-up.html#footer') Sign up
                                a.dropdown-item(href='footer-agency.html#footer') Agency
                        .dropdown.dropdown-submenu
                            a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown')
                                | Email templates
                                i.ion-chevron-right
                            .dropdown-menu
                                a.dropdown-item(href='email-template-newsletter.html', target='_blank')
                                    | Newsletter
                                    i.ion-share
                                a.dropdown-item(href='email-template-receipt.html', target='_blank')
                                    | Receipt
                                    i.ion-share
                                a.dropdown-item(href='email-template-announcement.html', target='_blank')
                                    | Simple announcement
                                    i.ion-share
                                a.dropdown-item(href='email-template-text.html', target='_blank')
                                    | Formal text
                                    i.ion-share
                        a.dropdown-item(href='docs/grid-system.html') Grid system
                        a.dropdown-item(href='docs/animations.html') Animations
                        a.dropdown-item(href='docs/typography.html') Typography
                li.nav-item.dropdown.dropdown-extend
                    a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
                        | Components
                        i.ion-chevron-down
                    .dropdown-menu.dropdown-extend-menu(role='menu')
                        .row
                            .col-md-3
                                a.dropdown-item(href='docs/alerts.html')
                                    i.ion-alert-circled
                                    |  Alerts
                                a.dropdown-item(href='docs/animations.html')
                                    i.ion-wand
                                    |  Animations
                                a.dropdown-item(href='docs/badges.html')
                                    i.ion-ios-pricetag-outline
                                    |  Badges
                                a.dropdown-item(href='docs/buttons.html')
                                    i.ion-ios-paperplane
                                    |  Buttons
                                a.dropdown-item(href='docs/button-groups.html')
                                    i.ion-ios-browsers
                                    |  Button groups
                                a.dropdown-item(href='docs/cards.html')
                                    i.ion-ios-albums-outline
                                    |  Cards
                            .col-md-3
                                a.dropdown-item(href='docs/carousel.html')
                                    i.ion-android-arrow-dropright-circle
                                    |  Carousel
                                a.dropdown-item(href='docs/accordion.html')
                                    i.ion-navicon
                                    |  Accordion
                                a.dropdown-item(href='docs/cta.html')
                                    i.ion-funnel
                                    |  Call to action
                                a.dropdown-item(href='docs/dropdowns.html')
                                    i.ion-arrow-down-b
                                    |  Dropdowns
                                a.dropdown-item(href='docs/forms.html')
                                    i.ion-clipboard
                                    |  Forms
                                a.dropdown-item(href='docs/input-groups.html')
                                    i.ion-toggle
                                    |  Input groups
                            .col-md-3
                                a.dropdown-item(href='docs/icons.html')
                                    i.ion-social-octocat
                                    |  Icons
                                a.dropdown-item(href='docs/list-groups.html')
                                    i.ion-ios-list-outline
                                    |  List groups
                                a.dropdown-item(href='docs/modals.html')
                                    i.ion-monitor
                                    |  Modals
                                a.dropdown-item(href='docs/navs.html')
                                    i.ion-navigate
                                    |  Navs
                                a.dropdown-item(href='docs/navbars.html')
                                    i.ion-navicon-round
                                    |  Navbars
                                a.dropdown-item(href='docs/plugins.html')
                                    i.ion-compose
                                    |  New plugins
                            .col-md-3
                                a.dropdown-item(href='docs/progress.html')
                                    i.ion-stats-bars.d-inline-block(style='transform: rotate(90deg);')
                                    |  Progress bars
                                a.dropdown-item(href='docs/stats-cards.html')
                                    i.ion-arrow-graph-up-right
                                    |  Stats cards
                                a.dropdown-item(href='docs/tables.html')
                                    i.ion-grid
                                    |  Tables
                                a.dropdown-item(href='docs/typography.html')
                                    i.ion-paintbrush
                                    |  Typography
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
                        | Shop
                        i.ion-chevron-down
                    .dropdown-menu(role='menu')
                        a.dropdown-item(href='ecommerce/index.html') Home page
                        a.dropdown-item(href='ecommerce/collection-grid.html') Products grid
                        a.dropdown-item(href='ecommerce/collection-list.html') Products list
                        a.dropdown-item(href='ecommerce/collection-grid-sidebar.html') Products grid w/ sidebar
                        a.dropdown-item(href='ecommerce/collection-list-sidebar.html') Products list w/ sidebar
                        a.dropdown-item(href='ecommerce/product.html') Single product
                        a.dropdown-item(href='ecommerce/cart.html') Cart
                        a.dropdown-item(href='ecommerce/search.html') Search results
                        a.dropdown-item(href='ecommerce/checkout.html') Checkout
                        a.dropdown-item(href='ecommerce/checkout-payment.html') Checkout ship & payment
                        a.dropdown-item(href='ecommerce/checkout-confirmation.html') Checkout confirmation
                        a.dropdown-item(href='ecommerce/account-orders.html') My account order history
                        a.dropdown-item(href='ecommerce/account-wishlist.html') My account wishlist
                        a.dropdown-item(href='ecommerce/account-profile.html') My account profile
                        a.dropdown-item(href='ecommerce/account-invoice.html') Order invoice
                        a.dropdown-item(href='ecommerce/sign-up.html') Sign up
                        a.dropdown-item(href='ecommerce/sign-in.html') Sign in
                li.nav-item
                    a.nav-link.nav-link--rounded(href='docs/intro.html') Theme Docs
