nav.navbar.navbar-expand-lg.navbar-dark.bg-transparent(role='navigation')
    .container.no-override
        a.navbar-brand(href='index.html')
            img.d-none.d-lg-inline.mr-2.w-25(src='images/logo-alt-w.png')
            |         R3D
        button.navbar-toggler(data-toggle='collapse', data-target='#navbar-collapse')
            span.navbar-toggler-icon
        #navbar-collapse.collapse.navbar-collapse.justify-content-end
            ul.navbar-nav
                li.nav-item.active.dropdown
                    a.nav-link.dropdown-toggle(href='index.html', data-toggle='dropdown')
                        | Home
                        i.ion-chevron-down
                    .dropdown-menu(role='menu')
                        a.dropdown-item(href='index.html#services') Services
                        a.dropdown-item(href='index.html#reviews') Reviews
                        a.dropdown-item(href='index.html#clients') Clients
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
                        | 3D Printing
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
                        | 3D Design
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
                        | Projects
                li.nav-item.dropdown.dropdown-extend
                    a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
                        | Contact
                li.nav-item
                    a.nav-link.nav-link--rounded(href='#') Shop
