@import 'index/index'; 
@import 'design/design'; 
@import 'projects/projects'; 
@import 'contact/contact';
@import 'printing/printing';

nav.navbar{
  z-index: 2;
  .container{
    //margin-right: 500px !important;
    a.navbar-brand{
      .logo_r3d{
        img{
        width:auto !important;
        height:50px
        }
      }
    }
    .collapse{
      ul{
        li{
          a{
            i{
              display:none;
            }
            @media (min-width: 992px) {
            i{
              display:inline;
              }
            }
          }
        }
      }
    }
  }
  ul#i18n{
    display:none;
    float: right;
    list-style-type: none;
    li {
      display: inline;
      margin: 0.5em;
    }
    width:150px;
    li{
      margin:3px;
      a{
        position: relative;
        img{
          width:25px;
        }
      }
    } 
  }
  @media screen and (min-width: 992px) {
    position: fixed !important;
    ul#i18n{
      display:inline;
    }
  }
}
nav.navbar-fixed-top{
  position: fixed !important;
}

nav.not_transparent{
  width: 100%;
  //height: 200px;
}

.mobile_lang_switch{
  position: absolute;
  z-index:10;
  top: 100px;
  right:50px;
  img{
    width:50px;
  }
  li{
    list-style-type: none;
  }
}

@media screen and (min-width: 992px) {
  .mobile_lang_switch{
    display:none;
  }
}


.agency-footer{
  //background: white;
  a.social{
    i.fa-linkedin{
      position: absolute;
      top:5px;
      left:8px;
      //background: black
    }
    i.fa-instagram{
      position: absolute;
      top:5px;
      left:7px;
      //background: black
    }
  }
}
