.agency-footer{
  //background: white;
  a.social{
    i.fa-linkedin{
      position: absolute;
      top:5px;
      left:8px;
      //background: black
    }
    i.fa-instagram{
      position: absolute;
      top:5px;
      left:7px;
      //background: black
    }
  }
}